.add{
    display: flex;
    flex:3;
    
}
.btn{
    margin-left: 12px;
    border-radius: 10px;

}
.asd{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 24px;
}
.asd:hover{
    background-color: orange;
    border-radius: 10px;
}
.close{
    color: gray;
    text-decoration: line-through;
}
.filter{
    display: flex;
    justify-content: center;
}
.btns{
    margin-top: 30px;
}